@charset "UTF-8";
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana;
        color: #222;
}
/*descendent selector*/

#numbers ul {
    width: 12in;
    margin: 72px auto;
}

#numbers li {
    list-style: none;
    width: 2in;
    height: 2in;
    text-align: center;
    background-color: #333;
    color:white;
    font-size: 80px;
    display: inline-block;
}

#numbers li:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#numbers li:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#numbers li .low {
    position: relative;
    top: 1in;
}

table#choc {
    margin-left: 2in;
    width: 5in;
    color:saddlebrown;
}

table#choc tr {
    padding: 7px;
}
table#choc tr:last-child {
    border-bottom:1px solid #eee;
}


table#choc td, table#vert th{
    height:.5in;
    padding-left:25px;
    border-left:1px solid #eee;
}

table#choc th {
    text-align: left;
    font-size:36px;
    padding:24px;
}

table#choc td:first-child{
    width:1.5in;
    border-left:0px;
}
table#choc tr:even{
    background-color:blue;
}
